@{
    ViewData["Title"] = "FAQ";
}


<div class="container text-light rounded-3 bg-secondary">
    <div class="row border-bottom">
        <div><h5 class="text-decoration-underline fw-bold">About Panopticon (beta 1.0)</h5></div>
        <div class="row justify-content-center align-items-center">
            <br />

            <div class="col-md-5 mb-2">
                <div class="card homeTaskCard" style="border-radius:15px;">
                    <h3 class="card-header text-decoration-underline" style="border-top-left-radius:15px; border-top-right-radius:15px">Panopticon's Mission'</h3>
                    <br />
                    <p class="text-black">PanOpticon is your virtual home to manage your busy schedule.  Register for free for access to your own personal life management toolkit. </p>
                </div>
            </div>

            <div class="col-md-5 mb-2">
                <div class="card homeTaskCard"  style="border-radius: 15px">
                    <h3 class="card-header text-decoration-underline"style="border-top-left-radius:15px; border-top-right-radius:15px">Who is PanOpticon for?</h3>
                    <br />
                    <p class="text-black">Panopticon is for students, professionals, and busy people with busy lives.</p>
                </div>
            </div>


            <div class="col-md-5 mb-2">
                <div class="card homeTaskCard" style="border-radius: 15px">
                   <h3 class="card-header text-decoration-underline"style="border-top-left-radius:15px; border-top-right-radius:15px">What can you do here?</h3>
                    <br />
                    <p class="text-black">
                        Panopticon lets users register their own personal spaces to keep track of their daily schedule.<br />
                        Users can enter in appointments, assignments, and important due dates that can be kept track in order of priority, and will send SMS and email alerts to notify you when something
                        important is coming up!<br />
                    </p>
                </div>
            </div>

            <div class="col-md-5 mb-2">
                <div class="card homeTaskCard" style="border-radius: 15px">
                    <h3 class="card-header text-decoration-underline"style="border-top-left-radius:15px; border-top-right-radius:15px">Does PanOpticon have any fees?</h3>
                    <br />
                    <p class="text-black">No, Panopticon is 100 percent free, we want to offer a free service that people can use to maintain top levels of Productivity, and alleviate the anxiety that today's society demands.'</p>
                </div>
            </div>
            <div class="col-md-5 mb-2">
                <div class="card homeTaskCard" style="border-radius: 15px;">
                    <h3 class="card-header text-decoration-underline"style="border-top-left-radius:15px; border-top-right-radius:15px">I like the beta version, but what should I expect from the finished product?</h3>
                    <br />
                    <p class="text-black">
                        We are currently working on developments to personalize your online space, so that you can use Panopticon as a general homepage on the internet, linking the latest news of your preference,
                        sports scores, productivity tips, and more!  E-mail suggestions for features you'd like to see added to Panopticon <A-HREF ="mailto:admin@panopticon.ilus.space"> here! </A-HREF>  ,'
                    </p>
                </div>
            </div>
            <div class="col-md-5 mb-2">
                <div class="card homeTaskCard" style="border-radius:15px;">
                    <h3 class="card-header text-decoration-underline"style="border-top-left-radius:15px; border-top-right-radius:15px"> How will Panopticon help me with my time management skills?</h3><br />
                    <p class="text-black">
                        Panopticon will keep track of the average time it takes to complete your tasks and will provide metrics of how you are doing relative to the goals you set, so you will be able to see what areas
                        you need improvement in, or in what areas you might need to focus more of your time
                    </p>
                    </div>
            </div>
                </div>
            </div>
